*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #EEECE4;
}


p{
  font-size: 18px;
}


.logo{
  font-size:35px;
  font-weight: 100px;;
  color: rgb(35, 35, 35);
  display: inline-block;
  float: left;
  margin-left: 15px;
  padding: 0px;
}
.nav-link{
  display: inline-block;
}

.nav-link a:hover{
  color: #92AA83;
}


.link{
  color: rgb(35, 35, 35);
  font-size: 24px;
  font-weight: 100;
  text-decoration: none;
  margin-right: 50px;
  padding-top: 15px;
  position: relative;
}

#sidemenu{
  text-align: end;
  margin-top: 10px;
}


/* ------------------- content ---------------------- */
.container{
  margin-left: 13%;
  margin-right: 13%;
  margin-top: 3%;

  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
  display: inline-flex;
  
  
}
.quick-info{
  display:inline-block;
  margin-top: 2%;
  margin-right: 1%;
}
.job {
  font-weight: bold;
  display: inline-block;
  width: 120px; 
}

.job-title {
  display: inline-block;
  margin-left: 20px; 
}

.skill-group {
  font-weight: bold;
  display: inline-block;
  width: 150px; 
}

.skill-list {
  display: inline-block;
  margin-left: 20px; 
}

.my-books{
  display:inline-block;
  margin-top: 2%;
  margin-left: 1%;
}

button:hover{
  cursor: pointer;

}

.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin: 8px 6px 0px 6px;
  color: #749C75;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover{
  color: #241B62;
}
.skills {
  display: inline-block;
  margin-top: 20px;
}
.name{
  border-bottom: solid;
}
.headshot{
    width: 130px; 
    height: 130px; 
    border-radius: 10px;;
    object-fit: cover;
    object-position: 25% 25%; 
    display: block;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
    border: solid thin;

}

.button{
  padding: 6px 6px 6px 6px;
  border-radius: 6px;
  font-size: 14px;
  background-color:  #EFEFEF;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
  border: solid thin;
  cursor: pointer;
}

.deep-info{
  display: inline-block;
  width: 75%;
  margin-left: 10px;
}
.info{
  margin: 8px;

}

.jobs{
  margin-top: 5px;
}

/* ------------------- books ---------------------- */
.my-books {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10px;
  
}

#my-books div {
  text-align: center;
  margin: 8px 0px 0px 4px;
  display: inline-block;
  width: 100px;
  vertical-align: top; /* align books at the top */

}
#my-books img{
  width: 80px;
  height: 130px;
}

#my-books h2{
  font-size: 12px;
}
#my-books p{
  font-size: 10px;
}

.bookshelves-link a{
  color:#241B62;
  font-size: 12px;
  margin-top: 10px;
}

@media only screen and (max-width: 450px){
  #sidemenu a{
    font-size:24px;
  }
  #sidemenu p{
    font-size:24px;
  }

  .link{
    font-size: 24px;
    font-weight: 100;
    text-decoration: none;
    margin-right: 20px;
    padding-top: 15px;
    position: relative;
  }

  .container{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 3%;
  
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 3%;
    display: block;
    text-align: center;
  }

  .name{
    text-align: start;
  }
  .deep-info{
    text-align: start;
  }

  .headshot{
    width: 150px; 
    height: 150px; 
  }

  #my-books div {
    text-align: center;
    margin: 4px 3px 0px 3px;
    display: inline-block;
    width: 70px;
    vertical-align: top; /* align books at the top */
  
  }

  



  

}

