*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color: #92AA83;
}
.background {
  padding: 10px;
}

.logo{
  font-size:40px;
  color: black;
  display: inline-block;
  float: left;
}
.nav-link{
  display: inline-block;
}
.nav-link a:hover{
  color: #241B62;
}

.link{
  color: black;
  font-size: 24px;
  font-weight: 100;
  text-decoration: none;
  margin-right: 50px;
  padding-top: 15px;
  position: relative;
}

#sidemenu{
  text-align: end;
}
/* ------------------- header ----------------- */
.header{
  text-align: center;
}

.header h1{
  margin-top: 5%;
  color: white;
  font-size: 48px;
}

.header p{
  font-size: 18px;;


}






/* ------------------- contact form ----------------- */

.contact-form{
  flex-basis: 60%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 1%;
}
.submit-btn{
  border: solid;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  font-size: 22px;
}
.submit-btn:active{
  background-color: rgb(20, 55, 0);
  color: white;
}
.submit-btn:hover{
  cursor: pointer;
}

.contact-form form{
  width: 100%;
}

form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: white;
  padding: 15px;
  margin: 8px 0;
  color:#241B62;
  font-size: 18px;
  border-radius: 15px;
  border: solid;

}

#msg{
  color: white;
  margin-top: 10px;
  display: block;
  font-weight: bolder;
  font-size: 20px;
}

@media only screen and (max-width: 450px){
  .intro{
    margin-top: 40%;
  }


  #sidemenu a{
    font-size:24px;
  }
  #sidemenu p{
    font-size:24px;
    color: white;
  }

  .link{
    color: white;
    font-size: 24px;
    font-weight: 100;
    text-decoration: none;
    margin-right: 20px;
    padding-top: 15px;
    position: relative;
  }
  .contact-form{
    flex-basis: 60%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
  }
  .submit-btn{
    background-color: grey;
  }
}